---
---

.normal {
  width: 80px;
  height: 80px;
  background-size: 100% auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.big {
  @extend .normal;
  width: 320px;
  height: 320px;
}

.small {
  @extend .normal;
  width: 80px;
  height: 80px;
}

.no-padding {
  padding: 0px 0px;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.form-hidden {
  display: inlince;
  visibility: hidden;
}

.label-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .container {
    width: 940px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}