.icon-app-centrifuge { background-image: url('png/app-centrifuge.png'); background-repeat: no-repeat; }

.icon-app-compressor { background-image: url('png/app-compressor.png'); background-repeat: no-repeat; }

.icon-app-conveyor { background-image: url('png/app-conveyor.png'); background-repeat: no-repeat; }

.icon-app-elevator { background-image: url('png/app-elevator.png'); background-repeat: no-repeat; }

.icon-app-extruder { background-image: url('png/app-extruder.png'); background-repeat: no-repeat; }

.icon-app-fan { background-image: url('png/app-fan.png'); background-repeat: no-repeat; }

.icon-app-kiln { background-image: url('png/app-kiln.png'); background-repeat: no-repeat; }

.icon-app-pump { background-image: url('png/app-pump.png'); background-repeat: no-repeat; }

.icon-app-ship { background-image: url('png/app-ship.png'); background-repeat: no-repeat; }

.icon-app-stirrer { background-image: url('png/app-stirrer.png'); background-repeat: no-repeat; }

.icon-app-tidal { background-image: url('png/app-tidal.png'); background-repeat: no-repeat; }

.icon-app-winch { background-image: url('png/app-winch.png'); background-repeat: no-repeat; }

.icon-app-wind { background-image: url('png/app-wind.png'); background-repeat: no-repeat; }

.icon-el-cable { background-image: url('png/el-cable.png'); background-repeat: no-repeat; }

.icon-el-converter { background-image: url('png/el-converter.png'); background-repeat: no-repeat; }

.icon-el-grid { background-image: url('png/el-grid.png'); background-repeat: no-repeat; }

.icon-el-motor { background-image: url('png/el-motor.png'); background-repeat: no-repeat; }

.icon-el-pump { background-image: url('png/el-pump.png'); background-repeat: no-repeat; }

.icon-el-switch { background-image: url('png/el-switch.png'); background-repeat: no-repeat; }

.icon-el-trafo { background-image: url('png/el-trafo.png'); background-repeat: no-repeat; }

