<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/backbone-1.2.1.js"></script>
<script src="/js/vendor/backbone-deep-model-2.0.1.js"></script>
<script src="/js/vendor/jquery.cookie-1.4.1.min.js"></script>
<script src="/js/vendor/spinner.js-2.3.1.js"></script>
<script src="/js/vendor/url-pattern-0.9.js"></script>
{% if page.mathjax %}
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
<script src="/js/main.js"></script>
<script src="/js/popover.js"></script>
<script src="/js/input.js"></script>

{% if page.topology %}
<script src="/js/elements.js"></script>
<script src="/js/topology-model.js"></script>
<script src="/js/topology-view.js"></script>
{% endif %}

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-64090008-1','auto');ga('send','pageview');
</script>